/* 
    Document   : bids-popup
    Created on : 21.02.2011, 18:38:06
    Author     : yaroslav.onischenkp
    Description: Stylesheet for order bids popup
*/
.bids-popup-container {text-align: left;}
.bids-popup-container p {line-height: inherit; color: inherit}

#bid_deadline_day,
#bid_deadline_hour,
#bid_deadline_minute
{
	margin: 0px;
}
.winn_bid {
	height:71px;
	margin-bottom:25px;
	}
.wb_price {
	font-size:36px;
	padding-left:160px;
	padding-top:8px;
	}
.wb_price em {
	font-size:12px;
	display:block;
	}
.last_bid {
	overflow:hidden;
	width:100%;
	margin-bottom:20px;
	}
.last_bid .wb_price {
	padding-left:40px;
	float:left;
	width:200px;
	padding-top:0px;
	}
.last_bid table {
	float:left;
	}
.last_bid th {
	text-align:left;
	font-weight:normal;
	font-style:italic;
	width:80px;
	padding-bottom:5px;
	}
.last_bid td {
	padding-bottom:5px;
	}
.pop_buttons {
	padding-left:80px;
	height:40px;
	padding-right:80px;
	margin-bottom:20px;
        position: relative;
        float: left;
	}
a.butt_place_bid {
	width:140px;
	height:40px;
	display:block;
	float:left;
	font-size: 0;
    }
a.butt_place_bid:hover {
	background-position:0px -42px;
	}
a.butt_place_bid:active {
	background-position:0px -84px;
	}
a.butt_del_bid {
	width:140px;
	height:40px;
	display:block;
	float:right;
	font-size: 0;
    }
a.butt_del_bid:hover {
	background-position:0px -42px;
	}
a.butt_del_bid:active {
	background-position:0px -84px;
	}
.bids-popup-container p.wb_winning {
	font-weight:bold;
	font-size:36px;
	padding-left:40px;
	padding-top:14px;
	}
a.butt_take_order {
	width:140px;
	height:40px;
	display:block;
	float:left;
	}
a.butt_take_order:hover {
	background-position:0px -42px;
	}
a.butt_take_order:active {
	background-position:0px -84px;
	}
a.butt_refuse_order {
	width:140px;
	height:40px;
	display:block;
	float:right;
	}
a.butt_refuse_order:hover {
	background-position:0px -42px;
	}
a.butt_refuse_order:active {
	background-position:0px -84px;
	}
.no_bids {
	font-size:36px;
	font-weight:bold;
	font-style:italic;
	padding-left:40px;
	margin-bottom:30px;
	}
.bid_toggle {
	display: none;
	height:100px;
	margin-bottom:20px;
	}

a.butt_cancel {
	width:140px;
	height:40px;
	display: block;
	float: left;
	font-size: 0;
    }
a.butt_cancel:hover {
	background-position:0px -42px;
	}
a.butt_cancel:active {
	background-position:0px -84px;
	}
.bid_toggle  {
	padding-left:20px;
	padding-top:13px;
	height:87px;
	}
.bid_toggle span {
	display:block;
	}
.bid_toggle .filter_time {
	background:none;
	width:auto;
	margin:0px;
	}
.bid_toggle .filter_time div {
	font-size:18px;
	line-height:26px;
	}
.bt_new_bid {
	float:left;
	width:120px;
	}
.bt_deadline {
	float:left;
	width:290px;
	position:relative;
	padding-left:30px;
	}
.bt_new_bid span, .bt_deadline span {
	margin-bottom:18px;
	padding-bottom: 0;
	}
.bt_new_bid span.nomarg{
	margin-bottom: 0px;
	padding-bottom: 0;
	}
.bt_deadline span {
	margin-left:-30px;
	}
.btd_titles {
	position:absolute;
	top:15px;
	left:0px;
	}
.btd_titles_bottom {
	top:63px;
	}
.bt_deadline em {
	display:block;
	float:left;
	}
.bt_new_bid p {
	float:left;
	font-size:18px;
	padding-right:2px;
	padding-top:3px;}
.bt_deadline .filter_time {
	float:left;
	}
.bt_deadline .filter_time div {
	width:35px;
	}
.bt_deadline p {
	float:left;
	font-size:18px;
	padding-left:2px;
	padding-top:3px;
	padding-right:15px;
	}
a.butt_ok {
	width:40px;
	height:40px;
	display:block;
	float:left;
	position:relative;
	top:0;
	font-size: 0;
    }
a.butt_ok:hover {
	background-position:0px -42px;
	}
a.butt_ok:active {
	background-position:0px -84px;
}
.time_inp {
	margin:0px;
	padding:0px;
	width:9px;
	height:15px;
	border:none;
	cursor:pointer;
	position:absolute;
	right:-1px;
}
.ti_up {
	top:-1px;
}
.ti_down {
	bottom:-1px;
}

*html .ti_up {
	top:0px;
}
*html .ti_down {
	bottom:0px;
	background-position:0px -15px;
}
.time_inp:hover {
	background-position:0px -17px;
}
.time_inp:active {
	background-position:0px -34px;
}
.bid_activated div.bid-loader {
	height: 50px;
}

a.butt_rebid {
	width:60px;
	height:54px;
	display:block;
	margin-top:6px;
	}
a.butt_rebid:hover {
	background-position: 0px -56px;
	}
a.butt_rebid:active {
	background-position: 0px -112px;
	}
a.butt_makebid {
	width:60px;
	height:54px;
	display:block;
	margin-top:6px;
	}
a.butt_makebid:hover {
	background-position: 0px -56px;
	}
a.butt_makebid:active {
	background-position: 0px -112px;
	}
a.butt_youwin {
	width:60px;
	height:54px;
	display:block;
	margin-top:6px;
	}
a.butt_youwin:hover {
	background-position:0px -56px;
	}
a.butt_youwin:active {
	background-position:0px -112px;
	}
.filter_time div {
	width:43px;
	height:28px;
	font-size:25px;
	position:relative;
	padding-left:5px;
	display:inline-block;
	float:left;
}
.bids-popup-container .pop_title {cursor: move;}
